<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.UserDAO">
        
          <select id="findUserByNameAndPsw" parameterType="String" resultType="User">
        select * from users_table where username=#{username} and password=#{password}
          
         </select> 
          <!--  
           match (n:Users) where n.name=#{username} and n.password=#{password} return n
           select * from users_table where username=#{username} and password=#{password}*/ --> 
<!--          <delete id="deleteStudent" parameterType="int">
             delete from users_name where id = #{id}
         </delete>
         
         <update id="updateStudent" parameterType="Student">
             update users_name set name = #{name} where id = #{id}
         </update>
         
         <select id="queryStudentById" parameterType="int" resultType="Student">
           select * from users_name where id=#{id}
         </select> 
         
         <select id="queryAllStudents" resultType="Student">
             select * from users_name
         </select> -->
         
         

</mapper>
