<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册界面</title>
	<script src="../../js/angular.min.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
 
<div data-ng-app="myapp" data-ng-controller="myname">
 	<p>名字 : <input type="text"   data-ng-model="name"></p>
 	<h1>Hello my name is  {{name}}  </h1>
  <input type="submit" name="" value="提交" onclick="info()">
</div>
  
</body>
 <script type="text/javascript">
 	 
 	var app=angular.module('myapp', []);
 	app.controller('myname',function($scope){
 		 $scope.name='long';
 		 
 	});
 
 </script>

   
</html>