<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>menu</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../mycss/main.css">
	<script src="../../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
	<div id="menu">
	<ul class="layui-nav"   lay-filter="" name="ss">
		  <a href="index.html" title="返回首页"><img src="../../images/logo.png" id="logo" > </a>
		  <li class="layui-nav-item  layui-this "><a href="index.html">首页</a></li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">物流服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a class="query-pack">我要寄件</a></dd>
			      <dd><a class="query-books">订单查询</a></dd>
			      <dd><a class="query-neets">网点查询</a></dd>
			    </dl>
		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">服务中心</a>
		    <dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="../webpage/logistics.html" id="express-service">快递服务</a></dd>
		      <dd><a href="../webpage/codeservice.html" id="code-service">冷运服务</a></dd>
		      <dd><a href="../webpage/storyhouse.html" id="storyhouse-servier">仓储服务</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">快购链接</a>
			<dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="http://www.sfbest.com/" target="blank">顺丰商城</a></dd>
		      <dd><a href="http://www.stomall.com/" target="blank">申通商城</a></dd>
		      <dd><a href="https://www.taobao.com/" target="blank">淘宝商城</a></dd>
		    </dl>
		  </li>
		   <li class="layui-nav-item">
		  	<a   id="about">关于我们</a>
		  </li>
		  <li class="layui-nav-item" id="login_button">
		  	<a href="javascript:;" id="login_button_admin">管理员登录</a>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="../webpage/register.html">会员注册</a>
		  </li>
	</ul>
</div>
</body>
<script src="../../layui/layui.js" type="text/javascript" charset="utf-8" ></script> 
<script type="text/javascript">
	layui.use(['form','element'],function(){
		var form =layui.form,
		element=layui.element;
	});
</script>
</html>
