 #console-title{
 	position: absolute;
 	color: #008080; 
 	margin-top: 20px; 
 	font-size: 2em;
 }
 
#idTest{
	border:1px solid blue;
}

#allmap {
	width: 950px;
	height: 500px; 
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
	float:left;
}
.layui-side{
	margin-top: 0;
}
#loginout img:hover{
	content: url(../images/exit2.png);
}
.layui-logo{ 
	background-color: rgb(57,61,73);
 
}
#console-header{
	width: 85%;
	float:right;
	background-color: white;
	border-bottom: 1px solid #008080;

}
 
.layui-nav-item *{
	color: #008080;
}
#Date:hover{
	color: white;
}
#said-layui-img img{
 	width: 20px;
 	height: 20px;
}
#logistic-packInfo{ 
	height: 500px;
	width: 300px;
	float: left;
	overflow: auto;
	border-right: 1px solid #008080;
	margin-right: 40px;
}
#logistictop{
	height: 50px;
	width: 100%; 
}
#myinfo{
	height: 300px;
	width: 100%; 
}
#infoimage{
	height: 100px;
	width: 100px;
	border:1px solid gray;
	margin:20px 10px 10px 10px;
	float:right;   
	border-radius: 50px;
 
}
#linediv{
	margin-top: 15px; 
	height: 40px; 
}
#file {
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100px;
	height: 100px;
	border-radius: 50px;  
	z-index: 999; 
	position: absolute;
	 
}
#imgbackage{
	z-index: -999;
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50px;
 
}
#queryplane{ 
	height: 60px;
	width: 100%;
	margin-top: 20px;
}
#selecttable{  
	width: 100%; 
}
#search-btn{
	float: right;
	margin-right: 80px;
}
#changepsw{
	height: 200px;
	width: 100%;  
	margin:40px auto;
}