 #console-title{
 	position: absolute;
 	color: #008080; 
 	margin-top: 20px; 
 	font-size: 2em;
 }
 
#idTest{
	border:1px solid blue;
}

#allmap {
	width: 100%;
	height: 600px;
	border:1px blue solid;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
}
.layui-side{
	margin-top: 0;
}
#loginout img:hover{
	content: url(../images/exit2.png);
}
.layui-logo{ 
	background-color: rgb(57,61,73);
 
}
#console-header{
	width: 85%;
	float:right;
	background-color: white;
	border-bottom: 1px solid #008080;

}
 
.layui-nav-item *{
	color: #008080;
}
#Date:hover{
	color: white;
}
#said-layui-img img{
 	width: 20px;
 	height: 20px;
}