body{
	margin: 0;
	padding: 0;
}
.layui-nav{
	 
	z-index: 99;
	/*background:linear-gradient(#00BFFF,#1E90FF,#4169E1);*/
	 	background-color: #008080;
}
.layui-nav-item{
	margin-left: 50px;
	z-index: 99; 
}
.layui-icon{
	font-size: 35px; 
	color: white;
	line-height: 40px;
}
.layui-icon a{ 
	font-size: 20px;
	vertical-align:middle;
}
