/*公共css样式开始*/
    *{margin: 0;padding: 0;}
    .body{ margin: 0 auto;  }
    body{
        background-color: #f6f6f9;
        overflow: hidden;
    }
    .clear{
        display: block;
        overflow: hidden;
    }
    a{
        text-decoration: none;
    }
    li {
        cursor: pointer;
        list-style-type:none;
    }
/*公共css样式结束	*/
     
    #login_button{
        margin-left: 350px;
    }
    #logo{
        margin-left: 50px;
    }
    .service{
        height: 80px;
        background-color: #EE2C2C;
        
    }
    .service div:hover *{
        color:#FF0000;
    }

    .service div{
        height: 50%;
        float: left;
        width: 14%;
        padding: 20px;
        text-align: center;
        color:red;
         
    }
    .service div a{
        text-decoration: none;
        color: white;
        font-size: 20px;

    }
   
     .service div a:hover{
      color: #EE2C2C;
  }
  .service div:hover{
      background-color: white;
      color: red;
      z-index: 99;
  } 
  