/*公共css样式开始*/
    *{margin: 0;padding: 0;}
    .body{width: 960px;font-size: 20px; margin: 0 auto;  }
    body{
        background-color: #f6f6f9;
    }
    .clear{display: block;overflow: hidden;}
    a{text-decoration: none;}
    li {list-style-type:none;}
/*公共css样式结束	*/
    .nav{
        margin-top: 5px;
    }
    a{
        margin-left: 20px;
    }
    .nav_right{
        margin-top: 12px;
        margin-left: 100px;
        float: left;
    }
    .nav_right a{
        text-decoration: none;
    }

    a{
        font-size: 17px;
        color: black;
    }


    .font{
        font-size: 25px;
    }

    .form-group{
        margin-left: 20px;
        margin-top: 20px;
        width: 200px;
    }

    .left{
        margin-left: 50px;
        margin-top: 60px;
        float: left;
        border: 1px solid white;
        background-color: #CDC5BF;
        height: 250px;
        width: 350px;

    }
    .btn{
        margin-left: 200px;
        margin-top:-55px;

    }
    .d1{
        margin-left: 40px;
        margin-top:-40px;
    }
    .btn1{ 

        padding:8px;  
        color: #428bca;  
        text-align: center; 
        vertical-align: middle;  
        font-weight: 900; 
        font-size:125%;
        background: #EEEEE0;
        border: none;
        border-radius: 50%;
        width: 200px;
        height: 100px;
    }
    #picture {
    margin-top: 30px;
    margin-right: 300px;
    float: right;
    width: 520px;
    height: 280px;
    border: 1px solid #F3F3F3;
    border-width: 0px 0px 1px 0px;
}

 #image {
        width: 520px;
        height: 100%;
        background: red;
        float: left;
        overflow: hidden;
        z-index: 998;
    }

#image div:nth-child(1) {
    width: 2600px;
    height: 280px;
    transition: all 0.4s ease-in; 动画设置
    -webkit-transition: all 0.4s ease-in; 兼容动画设置
    -moz-transition: all 0.4s ease-in; 兼容动画设置
}

#image div img {
    float: left;
    width: 520px;
    height: 280px;
}

#button {
    position: absolute;
    margin-left: 222px;
    margin-top: -45px;
    cursor: default;
    z-index: 1;
    width: 100px;
    height: 10px;
}

    #button input {
        width: 12px;
        height: 12px;
        background: #B7B7B7;
        border-radius: 5px;
        border: 0px;
        cursor: pointer;
    }
    .service{
        height: 80px;
        background-color: #EE2C2C;
    }
    .service div:hover *{color:#FF0000;}

    .service div{
        height: 80px;
        float: left;
        width: 16%;
        padding: 20px;
        text-align: center;
        color:red;
    }
    .service div a{
        text-decoration: none;
        color: white;
    }
    .service div span{
        margin-top: 5px;
    }
     .service div a:hover{
      color: #EE2C2C;
  }
  .service div:hover{
      background-color: white;
      color: red;
      z-index: 99;
  } 
    .glyphicon{
       font-size: 25px;
       color: white;
    }
    .glyphicon:hover{
        color:red;
    }