公共css样式开始*/
    *{margin: 0;padding: 0;}
    .body{ margin: 0 auto;  }
    body{
     background-image: url(../images/background.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     
     background-attachment: fixed;
     position: relative;
    }
    .clear{
        display: block;
        overflow: hidden;
    }
    a{
        text-decoration: none;
    }
    li {
        cursor: pointer;
        list-style-type:none;
    }
/*公共css样式结束	*/


/*修改layui样式*/
.layui-nav{
    z-index: 99;  
    background-color: #008080;
}
.layui-nav-item{
    margin-left: 50px;
    z-index: 99; 
}
.layui-icon{
    font-size: 35px; 
    color: white;
    line-height: 40px;
}
.layui-icon a{ 
    font-size: 20px;
    vertical-align:middle;
}

/*layui样式子修改结束*/


/*index.html首页样式设计*/
    #login_button{
        margin-left: 350px;
    }
    #logo{
        margin-left: 50px;
        height: 64px;
        width: 64px;
    }
    .service{
        height: 80px;
        /*background-color: #EE2C2C;*/
        /*background:linear-gradient(#4169E1,#1E90FF,#00BFFF);*/
        /*background-color:   #1E90FF;*/
         background:#009688;
    }
    .service div:hover *{
        color:#FF0000;
    }
.service_01{
    margin-left: 80px;
}
.service_05{
    border-right: solid white 1px;
}
.service div{
        height: 50%;
        float: left;
        width: 15%;
        padding: 20px;
        text-align: center;
        color:red;
        border-left: solid white 1px;
        
}
.service div a{
        text-decoration: none;
        color: white;
        font-size: 20px;
       

}
   
.service div a:hover{
      color: #EE2C2C;
}
.service div:hover{
      background-color: white;
      color: red;
      z-index: 99;
} 
#infomation1,#infomation2{
    height: 78px;
    width: 60px;
    position: absolute;
    /*background:linear-gradient(#5D8CE9,#344E82,#26395F);*/
    background-color: #FF5722;
    z-index: 200;
    right:0;
    top:270px;
    margin:2px;
    float: right;
     color:white;
     text-align: center;
     cursor:pointer;
}  
#infomation2{
    top: 350px;
    /*background:linear-gradient(#26395F,#344E82,#5D8CE9);*/
    background-color: #FF5722;
}
.search{
    height: 200px;
    width: 25%;
    border-radius: 10px 10px 0 0;
    z-index: 399;
    position: absolute;
    top: 415px;
    left: 150px;
    /*background-color: #2F4056;*/
    background-color: rgba(47,64,86,0.8);/*#30B8B0*/
    text-align: center;
}
.layui-input{
    width: 200px;
  }
#layui-form-item1{
    margin-left: -100px;
}
#layui-btn{
    background:#009688;
    width: 70%;
    border-radius: 5px;
}
#input_value{
    margin-top: 20px;
    width: 80%;
    border-bottom:solid 1px blue;
}
#input_radio{
    color:white;
}

#login_div{
   border:1px solid black;
   position: absolute;
   top: -50px;
   position: fixed;
   width: 100%;
   height: 200%;
   z-index: 499;
   background: rgba(0,0,0,0.8);
}
#close_btn{
    position: absolute;
    top: 196px;
    right: 256px;
    z-index: 499;
    height: 32px;
    width: 32px; 
    background:url(../images/close1.png);
    background-size: 100%;
}
#img_info{
    width: 100px;
    height: 120px;
    text-align: center;
    margin:60px 0 0 320px;
    
}
#img_info img{
    width: 100px;
    height: 100px;
}
#close_btn:hover{
    background:url(../images/close2.png);
     background-size: 100%;
} 
#view1{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    height: 300px;
    width: 500px; 
    border: 1px solid white;
    margin:200px auto;
    color: white;
    font-size: 1.2em;
    font-family: "楷体";
    border-radius: 10px;
    text-align: center;
    left:50%;
}
 
#view_title{ 
    font-size: 1.4em;
    color: white;

    margin-left: -200px;
}
#info{
    margin: 100px auto;
    margin-top: 50px;
    width: 300px;
    height: 200px;
    position: absolute;
}
/*input[type="text"],input[type="password"]{
    -webkit-web-kit-appear:none ;
    -moz-web-kit-appear: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    border:0px;
    background: none;
    color: white;
    font-size: 1em;
}*/

.info_input{
    height: 50px;
    position: relative;
   
}
#user_login,#psw_login{
     border-bottom:1px solid white;
}
#psw_login{
    margin-left: 20px
}
.info_input img{
    width: 32px;
    height: 32px;
}
#iden_code{
    color: #20b2aa;
    font-size: 1.3em;
}
#submit_login{
    height: 30px;
    width: 200px;
    background: #20b2aa;
    color: white;
    border:0px;
    border-radius: 5px;
}
#register{
    color: white;
    font-size: 0.5em;
}
#author{ 
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
#introduce{
   
    width: 90%;
    height: 300px;
    text-align: center;   
  
    margin:auto;
}
#intro1,#intro2,#intro3{
    float: left;
    
    width: 30%;
    height: 100%;
    margin-left: 30px;
}
 
#return-top{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 30px;
    background-image:url(..//images/top1.png);
    background-size: 100%;
    cursor: pointer;
}
#return-top:hover{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 30px; 
    cursor: pointer;
    background-size: 100%;
    background-image:url(..//images/top2.png);
}
#introduce .layui-carousel img {
    height: 200px;
    width: 400px;
}

#something{
    width: 90%;
    height: 300px;
    margin: auto;
}
#s-left{ 
    width: 30%;
    height: 280px;
    float: left;
   
    margin: 10px 5px 0 50px;
}
.s-left-icon{
    width: 30%;
    height: 80px;
    float: left;
    margin-left: 5px;
    margin-top: 30px;
    text-align: center;
   
}
.s-left-icon:hover *{
    color: red;
}
.s-left-icon i{
    font-size: 4em;
    color: gray;
}

#s-right{
    width: 60%;
    height: 280px;
    float: left;
   
    margin: 10px 5px 0 20px;
}
#s-middle{
    height: 280px;
    float: left;
     margin: 10px 5px 0 20px;
    border-right:1px solid gray;
}
#s-news{
    margin-left: 120px;
    font-size: 1.2em;
    
    height: 220px;
    overflow: hidden;
}
.news-span{
    margin-top: 5px;
}
.news-span i{
    font-size: 1em;
    color: #009688;
}
#s-news a:hover{
    color: red;
}
#rights{
    text-align: center;
    color: #009688;
    margin:10px;
}
#mask{   
    display: none;  
    color: white;

}
#intro1:hover #mask{
    position: absolute;
    display: block;
    height: 200px;
    width: 400px;
    margin-left: 5px;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    margin-top: 55px;
}
#intro2:hover #mask{
    position: absolute;
    display: block;
    height: 200px;
    width: 400px;
    margin-left: 5px;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    margin-top: 55px;
}
#intro3:hover #mask{
    position: absolute;
    display: block;
    height: 200px;
    width: 400px;
    margin-left: 5px;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    margin-top: 55px;
}
 /*index.html首页样式设计结束*/

 /*localtion 百度地图API样式设计*/
 
#allmap{
  
    width:100%;
    height:500px;
}

#localtion{
    
    height: 500px;
    width: 30%;
    float: left;
    margin: 100px 0 0 100px;
}
       
 /*localtion 百度地图API样式设计结束*/



 /*以下都是sendpack的样式*/
 #left-chose{ 
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 200px;
 }
 #find-more{
    margin-top: 10px;
 }
  #left-chose .chose{
    width: 100%;
    height: 30px;
    border-bottom: 1px dashed black;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
  }
  .morechose{
    width: 100%;
    height: 30px;
    text-align: left;
    margin-top: 10px; 
  }
  #cp{
    margin-left: 20px;
  }
#right-display{
 
    width: 70%;
    height: 800px;
    float: left;
    margin-left: 20px;
     
}
#right-input{
    color: black;
    border-bottom:1px solid gray;
}
#right-input-address{
    color: black;
    border-bottom:1px solid gray;
    width: 350px;
}
#right-input-weight{
    color: black;
    border-bottom:1px solid gray;
    width: 50px;
    text-align: center;
}
#sender,#receive{
    height: 350px;
    width: 49%;
    
    float: left;
}
 #receive{
     
    float: right;
 }
#waring{
    color: red;
}
#input-select{
    width: 150px;
    color: black;
}

#find-order{
    margin: 50px;
    height: 300px;

}
#time-order{
     margin: 50px;
    height: 300px;
}

 

 /*sendpack样式结束*/