<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>快递管理系统-系统主界面</title>
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../mycss/define.css">
	<link rel="stylesheet" href="../mycss/main.css">
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body> 
	<ul class="layui-nav"   lay-filter="">
		  <img src="../images/logo.png" id="logo" > 
		  <li class="layui-nav-item  "><a href="">首页</a></li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">物流服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a href="">快递查询</a></dd>
			      <dd><a href="">订单查询</a></dd>
			      <dd><a href="">网点查询</a></dd>
			    </dl>


		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">服务中心</a>
		    <dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="">快递服务</a></dd>
		      <dd><a href="">冷运服务</a></dd>
		      <dd><a href="">仓储服务</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">快购链接</a>
			<dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="">顺丰商城</a></dd>
		      <dd><a href="">申通商城</a></dd>
		      <dd><a href="">淘宝商城</a></dd>
		    </dl>
		  </li>
		   <li class="layui-nav-item">
		  	<a   id="about">关于我们</a>
		  </li>
		  <li class="layui-nav-item" id="login_button">
		  	<a href="javascript:;" id="login_button_admin">管理员登录</a>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">会员注册</a>
		  </li>
	</ul>
	<div class="layui-carousel" id="test1">
	  <div carousel-item>
	    <div><img src="../images/1.png" alt=""></div>
	    <div><img src="../images/2.png" alt=""></div>
	    <div><img src="../images/3.png" alt=""></div>
	    <div><img src="../images/4.png" alt=""></div>
	    <div><img src="../images/5.png" alt=""></div>
	    <div><img src="../images/6.png" alt=""></div>
	  </div>
	</div>
 	<div class="service ">
                 <div class="service_01"  >
                 <i class="layui-icon" >&#xe615;<a href="">运单追踪</a>
                 </i></div>             
                 <div class="service_02" ><i class="layui-icon" >&#xe609; 
                <a href="">我要寄件</a></i></div>              
                 <div class="service_03"><i class="layui-icon"  >&#xe65e;
                <a href="">运费时效查询</a></i></div>         
                 <div class="service_04"><i class="layui-icon"  >&#xe715;
                 <a href="">服务网点查询</a></i></div>          
                <div class="service_05"  ><i class="layui-icon"  >&#xe857; 
                 <a href="">收寄范围查询</a></i></div>          
                          
                 
           
    </div>
    <div id="infomation1">
    	<i class="layui-icon" style="margin-left: 10%;" >&#xe630;
    	</i> 温馨<br>提醒 
    </div>
    <div id="infomation2">
    	<i class="layui-icon" style="margin: 10%;" >&#xe60c;
    	</i> 防骗<br>警示 
    </div>

	<div class="search">
	<form class="layui-form" id="layui-form1" action="">
	  <div class="layui-form-item" id="layui-form-item1">
	    
	    <div class="layui-input-block">
	      <input type="text" name="title" id="input_value" required  lay-verify="required" 
	      placeholder="请输入快递单号或者手机号" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	 
	  <div class="layui-form-item" id="layui-form-item1">
	    
	    <div class="layui-input-block" id="input_radio">
	    
	      <input type="radio" name="sex" id="input_radio_info1" value="快递单号" title="快递单号">
	      <input type="radio" name="sex" id="input_radio_info2" value="手机号码" title="手机号码"  >

	    </div>
	  </div>
	   
	  <div class="layui-form-item" id="layui-form-item1">
	    <div class="layui-input-block">
	      <button class="layui-btn" id="layui-btn"  lay-submit lay-filter="formDemo">立即查找</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
	</div>
<div id="login_div">
	 <div id="close_btn" id="close_btn"   title="关闭窗口"><!--关闭按钮--></div>  
	<form id="form1" action="#" method="post" accept-charset="utf-8">
		<div id="view1">
			<label id="view_title">用户登录</label>
			<div id="info">			 
			 	<label class="info_input"><img src="../images/user.png" alt="用户名" title="用户名">
			 		<input id="user" type="text"  lay-verify="username" name="username" placeholder="Username"  autofocus="autofocus" value=""></label>		 
			  
				 <br> <br>  
			 	<label class="info_input"><img src="../images/psw.png" alt="密码" title="密码"><input id="psw" type="password" lay-verify="pass" placeholder="Password"   name="password" value=""></label>
			 	<br>
			 	<label id="register">没有身份？|点击注册</label>
			 	 <br><br>

			 	<input id="submit" type="button"   onclick="sendInfo()"  value="登录">	 
			 	 
			</div>
		</div>
	</form>
</div>


</body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8" ></script>
 <script src="../js/myjs.js" type="text/javascript" charset="utf-8" async defer></script>
</html>