<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<title>快递-主页面</title>
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../mycss/main.css">
	<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8" ></script>
	<style type="text/css">
	input[type="text"],input[type="password"]{
	    -webkit-web-kit-appear:none ;
	    -moz-web-kit-appear: none;
	    outline: none;
	    height: 30px;
	    margin-left: 10px;
	    border:0px;
	    border-bottom:1px solid gray;
	    background: none;
	   	color: white;
	    font-size: 1em;
		}
	</style>
</head>
<body> 
 
	<ul class="layui-nav"   lay-filter="" name="ss">
		  <a href="index.html" title="返回首页"><img src="../images/logo.png" id="logo" > </a>
		  <li class="layui-nav-item  layui-this "><a href="index.html">首页</a></li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">物流服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a class="query-pack">我要寄件</a></dd>
			      <dd><a class="query-books">订单查询</a></dd>
			      <dd><a class="query-neets">网点查询</a></dd>
			    </dl>
		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">服务中心</a>
		    <dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="../webpage/logistics.html" id="express-service">快递服务</a></dd>
		      <dd><a href="../webpage/codeservice.html" id="code-service">冷运服务</a></dd>
		      <dd><a href="../webpage/storyhouse.html" id="storyhouse-servier">仓储服务</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">快购链接</a>
			<dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="http://www.sfbest.com/" target="blank">顺丰商城</a></dd>
		      <dd><a href="http://www.stomall.com/" target="blank">申通商城</a></dd>
		      <dd><a href="https://www.taobao.com/" target="blank">淘宝商城</a></dd>
		    </dl>
		  </li>
		   <li class="layui-nav-item">
		  	<a   id="about">关于我们</a>
		  </li>
		  <li class="layui-nav-item" id="login_button">
		  	<a href="javascript:;" id="login_button_admin">管理员登录</a>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="../webpage/register.html">会员注册</a>
		  </li>
	</ul>
 
	<div class="layui-carousel" id="test1">
	  <div carousel-item>
	    <div><img src="../images/1.png" alt=""></div>
	    <div><img src="../images/2.png" alt=""></div>
	    <div><img src="../images/3.png" alt=""></div>
	    <div><img src="../images/4.png" alt=""></div>
	    <div><img src="../images/5.png" alt=""></div>
	    <div><img src="../images/6.png" alt=""></div>
	  </div>
	</div>
 	<div class="service">
         <div class="service_01"  >
         <i class="layui-icon" >&#xe615;<a class="query-books">运单追踪</a>
         </i></div>             
         <div class="service_02" ><i class="layui-icon" >&#xe609; 
        <a class="query-pack">我要寄件</a></i></div>              
         <div class="service_03"><i class="layui-icon"  >&#xe65e;
        <a class="select-time">运费时效查询</a></i></div>         
         <div class="service_04"><i class="layui-icon"  >&#xe715;
         <a class="query-neets">服务网点查询</a></i></div>          
        <div class="service_05"  ><i class="layui-icon"  >&#xe857; 
         <a class="select-strand">收寄标准须知</a></i></div>          
    </div>
    <div id="infomation1">
    	<i class="layui-icon"  style="margin-left: 10%;" >&#xe630;
    	</i> 温馨<br>提醒 
    </div>
    <div id="infomation2">
    	<i class="layui-icon"  style="margin: 10%;" >&#xe60c;
    	</i> 防骗<br>警示 
    </div>

	<div class="search" id="search">
	<form class="layui-form" id="form1-byphone"  >
	  <div class="layui-form-item" id="layui-form-item1">	    
	    <div class="layui-input-block">
	      <input type="text" name="typeValue" id="input_value" required  lay-verify="required" 
	      placeholder="请输入快递单号" autocomplete="off" class="layui-input">	      
	    </div>
	  </div>
	   	   <div class="layui-form-item" id="layui-form-item1"></div> 
	  <div class="layui-form-item" id="layui-form-item1">
	    <div class="layui-input-block">
	     <input type="button" style="background-color: #008080;color:white;border:none;height:40px;width: 100px;border-radius: 4px;cursor: pointer; " 
			      	id="query-pack-bytype" value="点击查询">
	      
	    </div>
	  </div>
	</form>
	</div>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;text-align: center">
	  <legend>产品服务</legend>
	</fieldset>
	<div id="introduce">
		<div id="intro1">
			<div id="mask">
				<h1 style="margin-top: 40px;">快捷的冷藏服务</h1>
	            <h4>依靠强大的快递运输链及时送达客户手中<br>保证鲜果的绝对新鲜！</h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>冷运服务</legend>
			</fieldset>		 
			<div class="layui-carousel" id="cold-transportation">
			  <div carousel-item>
			    <div><img src="..//images/orange.jpg" alt=""></div>
			    <div><img src="../images/boluo.jpg" alt=""></div>
			    <div><img src="../images/shizi.jpg" alt=""></div>
			    <div><img src="../images/yingtao.jpg" alt=""></div>		     
			  </div>
			</div>
		</div>
		<div id="intro2">
			<div id="mask">
				<h1 style="margin-top: 40px;">贴心快捷的快递服务</h1>
	            <h4>依靠自有的运力资源<br>满足客户多样化、个性化的寄件需求！</h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>快递服务</legend>
			</fieldset>
			<div class="layui-carousel" id="express">
			    <div carousel-item>
				    <div><img src="../images/pac2.jpg" alt=""></div>
				    <div><img src="../images/pac3.jpg" alt=""></div>
				    <div><img src="../images/pac4.jpg" alt=""></div>
				    <div><img src="../images/pac5.jpg" alt=""></div>	     
		  		</div>
			</div>
		</div>
		<div id="intro3">
			<div id="mask">
				<h1 style="margin-top: 40px;">专业的仓储服务</h1>
	            <h4>依靠强大的仓储能力和运力资源<br>为客户打造一站式物流服务！</h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>仓储服务</legend>
			</fieldset>
			<div class="layui-carousel" id="warehousing">
			  <div carousel-item>
			    <div><img src="../images/mav1.jpg" alt=""></div>
			    <div><img src="../images/mav2.jpg" alt=""></div>
			    <div><img src="../images/mav3.jpg" alt=""></div>
			    <div><img src="../images/mav4.jpg" alt=""></div>	     
			  </div>
			</div>
		</div>
		<div id="intro4">
			<div id="mask">
				<h1 style="margin-top: 40px;">快捷的国际服务</h1>
	            <h4>为满足客户紧急物品寄递需求，各环节均以最快速度<br>进行发运、中转和派送的高品质门到门国际快件服务!</h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>国际服务</legend>
			</fieldset>
			<div class="layui-carousel" id="international-service">
			  <div carousel-item>
			    <div><img src="../images/inter4.png" alt=""></div>
			    <div><img src="../images/inter3.png" alt=""></div>
			    <div><img src="../images/inter2.png" alt=""></div>
			    <div><img src="../images/inter1.png" alt=""></div>	     
			  </div>
			</div>
		</div>
		<div id="intro5">
			<div id="mask">
				<h1 style="margin-top: 40px;">专业的医储服务</h1>
	            <h4>提供药品、原料药、医疗器械等货物的冷库存储、流通<br>等一体化医药仓储服务。 </h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>医药仓储</legend>
			</fieldset>
			<div class="layui-carousel" id="medicin-service">
			  <div carousel-item>
			    <div><img src="../images/med2.png" alt=""></div>
			    <div><img src="../images/med3.png" alt=""></div>
			    <div><img src="../images/med4.png" alt=""></div>
			    <div><img src="../images/med1.png" alt=""></div>	     
			  </div>
			</div>
		</div>
		<div id="intro6">
			<div id="mask">
				<h1 style="margin-top: 40px;">定时派送服务</h1>
	            <h4>针对电商商家推出的服务，商家下单时可指定快件送达时间，<br>我司根据商家时间要求完成派送的增值服务。</h4>
			</div>
			<fieldset class="layui-elem-field layui-field-title" >
			  <legend>增值服务</legend>
			</fieldset>
			<div class="layui-carousel" id="time-define-service">
			  <div carousel-item>
			    <div><img src="../images/timing4.png" alt=""></div>
			    <div><img src="../images/timing3.png" alt=""></div>
			    <div><img src="../images/timing2.png" alt=""></div>
			    <div><img src="../images/timing1.png" alt=""></div>	     
			  </div>
			</div>
		</div>
	</div>
<div id="something">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;text-align: center">
		  <legend>业务-资讯</legend>
		</fieldset>
	<div id="s-left">
		<fieldset class="layui-elem-field layui-field-title">
  		<legend>寄件须知</legend>
  		<div class="s-left-icon">
	 		<a href="../webpage/forbid.html"  >
	  			<i class="layui-icon"  >&#xe60c;</i><br> 禁寄物品
	  		</a>
  	    </div> 
  	    <div class="s-left-icon">
	 		<a href="../webpage/formformat.html"  >
	  			<i class="layui-icon" >&#xe63c;</i><br> 表单填写
	  		</a>
  	    </div>
  	    <div class="s-left-icon">
	 		<a href="../webpage/packing.html" >
	  			<i class="layui-icon" >&#xe64f;</i><br> 包装注意
	  		</a>
  	    </div>
  	    <div class="s-left-icon">
	 		<a  style="cursor: pointer;" class="query-neets"  >
	  			<i class="layui-icon"  >&#xe642;</i><br> 网点查询
	  		</a>
  	    </div>
  	    <div class="s-left-icon">
	 		<a style="cursor: pointer;" class="select-time" >
	  			<i class="layui-icon"  >&#xe60e;</i><br> 时效查询
	  		</a>
  	    </div>
  	    <div class="s-left-icon">
	 		<a href="../webpage/formreturn.html" >
	  			<i class="layui-icon"  >&#xe65c;</i><br> 签单返回
	  		</a>
  	    </div>   
	</div>
	<div id="s-middle"></div>
	<div id="s-right">
		<fieldset class="layui-elem-field layui-field-title"  >
  		<legend>行业资讯</legend>
  		<div id="s-news"> 			
		<marquee direction=up  scrolldelay="0" scrollamount="3" loop="-1" 
		behavior="scroll" hspace="20" vspace="10" onMouseOver="this.stop()"   
      	onMouseOut="this.start()" width="100%" height="200px">  
            <div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a  href="http://www.lcn2000.com/jianguan/2955.html" title="">国家邮政局局长：快递实名收寄必须坚持“底线思维”</a></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/2957.html" title="">
	  		未来的某一天，快递小哥会变成机器人吗？</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/jianguan/2960.html" title="">
	  			公安部交管局规范快递外卖业电动自行车管理</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/1894.html" title="">快递包装垃圾“成灾”，购物狂欢后遇绿色难题</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/1956.html" title="">快递“高保低赔”纠纷 应出台价格指引 完善法律法规</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/baike/1399.html" title="">快递纠纷日益增多 法官教你如何保护自身权益</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/gongsi/2959.html" title="">国产快递品牌排行榜:顺丰口碑最佳，且遥遥领先</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/gongsi/2946.html" title="">快递柜变身共享冰箱</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/2940.html" title="">成都造“派件神器” 让快递员每天节约1.5小时、 50%费用</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/2939.html" title="">俄罗斯一科技园研发软件 快递无人机可自主送货</a><br></div>
  			<div class="news-span"><i class="layui-icon">&#xe63a;:-></i><a href="http://www.lcn2000.com/zixun/2930.html" title="">韵达4亿元建的B网，跟其快递企业有啥不一样？</a><br></div> 
       </marquee>
  		</div>
	</div>
</div>
<hr class="layui-bg-blue">
 	<div id="rights">
		<h3>
			©All Rights Received
		</h3>
		<h4>
			软件工程1402 </br>
			霍胜龙
		</h4>
	</div>
<div id="return-top" title="返回顶部"></div> 
<div id="findpackinfo"> </div>
</body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8" ></script>
<script src="../js/indexjs.js" type="text/javascript" charset="utf-8" async defer></script>
 <script>
 	$(document).ready(function(){
	 	var h3_height = $("#introduce").offset().top;
		var hh=$("#something").offset().top;
		$(window).scroll(function(){
	        var this_scrollTop = $(this).scrollTop();
	        if(this_scrollTop>h3_height ){
	            $("#intro1").show(2000);
	            $("#intro2").show(1500);
	            $("#intro3").show(500);
	            $("#intro4").show(4000);
	            $("#intro5").show(3500);
	            $("#intro6").show(3000);
	        }
	        if (this_scrollTop>hh) {
	        	$("#s-middle").show(1000);
	        	$("#s-left").slideDown(1500);
	            $("#s-right").slideDown(2000);
	        }
	    });  
    });
 </script>
</html>