<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>快递管理系统-系统主界面</title>
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../mycss/define.css">
	<link rel="stylesheet" href="../mycss/main.css">
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body> 
	<ul class="layui-nav"  lay-filter="">
		  <img src="../images/psw.png" id="logo" class="layui-nav-img"> 
		  <li class="layui-nav-item layui-this"><a href="">首页</a></li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">物流服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a href="">快递查询</a></dd>
			      <dd><a href="">订单查询</a></dd>
			      <dd><a href="">网点查询</a></dd>
			    </dl>


		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">服务中心</a>
		    <dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="">快递服务</a></dd>
		      <dd><a href="">冷运服务</a></dd>
		      <dd><a href="">仓储服务</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">快购链接</a>
			<dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="">顺丰商城</a></dd>
		      <dd><a href="">申通商城</a></dd>
		      <dd><a href="">淘宝商城</a></dd>
		    </dl>
		  </li>
		   <li class="layui-nav-item">
		  	<a   id="about">关于我们</a>
		  </li>
		  <li class="layui-nav-item" id="login_button">
		  	<a href="javascript:;">管理员登录</a>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">会员注册</a>
		  </li>
	</ul>
	<div class="layui-carousel" id="test1">
	  <div carousel-item>
	    <div><img src="../images/login.jpg" alt=""></div>
	    <div><img src="../images/login.jpg" alt=""></div>
	    <div><img src="../images/login.jpg" alt=""></div>
	    <div><img src="../images/login.jpg" alt=""></div>
	    <div><img src="../images/login.jpg" alt=""></div>
	  </div>
	</div>
 <div class="service ">
                 <div class="service_01">
                 <i class="layui-icon" >&#xe615;<a href="">运单追踪</a>
                 </i></div>             
                 <div class="service_02"><i class="layui-icon" >&#xe609; 
                <a href="">我要寄件</a></i></div>              
                 <div class="service_03"><i class="layui-icon"  >&#xe65e;
                <a href="">运费时效查询</a></i></div>         
                 <div class="service_04"><i class="layui-icon"  >&#xe715;
                 <a href="">服务网点查询</a></i></div>          
                <div class="service_05"><i class="layui-icon"  >&#xe857; 
                 <a href="">收寄范围查询</a></i></div>          
                 <div class="service_05"><i class="layui-icon"  >&#xe606; 
                 <a href="">在线客服</a></i></div>          
                 
           
        </div>
       

</body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8" ></script>
<script src="../js/myjs.js" type="text/javascript" charset="utf-8" async defer></script>
</html>