<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../mycss/main.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZWsHXhetH5SOnKEttV6ynmiR4MSKAVBQ"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>

    <title>查询快递网点</title>
</head>
<body>

    <ul class="layui-nav"   lay-filter="" name="ss">
          <a href="index.html" title="返回首页"><img src="../images/logo.png" id="logo" > </a>
          <li class="layui-nav-item  layui-this "><a href="index.html">首页</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">物流服务</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                  <dd><a href="">快递查询</a></dd>
                  <dd><a href="">订单查询</a></dd>
                  <dd><a href="">网点查询</a></dd>
                </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">服务中心</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">快递服务</a></dd>
              <dd><a href="">冷运服务</a></dd>
              <dd><a href="">仓储服务</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">快购链接</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="http://www.sfbest.com/">顺丰商城</a></dd>
              <dd><a href="http://www.stomall.com/">申通商城</a></dd>
              <dd><a href="https://www.taobao.com/">淘宝商城</a></dd>
            </dl>
          </li>
           
    </ul>
    <div id="localtion">
        
    </div>

    <div id="allmap"></div>  
</body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8" ></script>
 <script src="../js/localtion.js" type="text/javascript" charset="utf-8" async defer></script>
</html>


 
 