<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../mycss/main.css"> 
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZWsHXhetH5SOnKEttV6ynmiR4MSKAVBQ"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <title>快递服务-主页面</title>
<style type="text/css">
	input[type="text"],input[type="password"]{
    -webkit-web-kit-appear:none ;
    -moz-web-kit-appear: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    border:0px;
    border-bottom:1px solid gray;
    background: none;
    font-size: 1em;
}
</style>
</head>
<body>
<ul class="layui-nav"   lay-filter="" name="ss">
		  <a href="index.html" title="返回首页"><img src="../images/logo.png" id="logo" > </a>
		  <li class="layui-nav-item  layui-this "><a href="index.html">首页</a></li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">物流服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a class="query-pack">我要寄件</a></dd>
			      <dd><a class="query-books">订单查询</a></dd>
			      <dd><a class="query-neets">网点查询</a></dd>
			    </dl>
		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">服务中心</a>
		    <dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="../webpage/logistics.html" id="express-service">快递服务</a></dd>
		      <dd><a href="../webpage/codeservice.html" id="code-service">冷运服务</a></dd>
		      <dd><a href="../webpage/storyhouse.html" id="storyhouse-servier">仓储服务</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="javascript:;">快购链接</a>
			<dl class="layui-nav-child"> <!-- 二级菜单 -->
		      <dd><a href="http://www.sfbest.com/" target="blank">顺丰商城</a></dd>
		      <dd><a href="http://www.stomall.com/" target="blank">申通商城</a></dd>
		      <dd><a href="https://www.taobao.com/" target="blank">淘宝商城</a></dd>
		    </dl>
		  </li>
		   <li class="layui-nav-item">
		  	<a   id="about">关于我们</a>
		  </li>
		  <li class="layui-nav-item" id="login_button">
		  	<a href="javascript:;" id="login_button_admin">管理员登录</a>
		  </li>
		  <li class="layui-nav-item">
		  	<a href="../webpage/register.html">会员注册</a>
		  </li>
	</ul>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>业务办理-信息查询</legend>
</fieldset>
<div id="left-chose">
	<h1 style="border-bottom:1px dashed red;">服务支持</h1>
	<div class="chose" id="send-btu" >
		··>我要寄件
	</div>
	<div class="chose" id="find-btu">
		··>运单追踪
	</div>
	<div class="chose" id="time-btu">
		··>运费时效查询
	</div>
	<div class="chose" id="neets-btu">
		··>服务网点查询 
	</div>
	<div class="chose" id="strand-btu">
		 ··>收寄标准须知 
	</div>
	<div class="chose" id="lots">
		<div id="find-more">
			<p>··>更多内容查询 </p>
		</div>
		<div class="morechose" id="cp1" style="margin-top: 15px;">			 
		  	<p class="cp" id="exchange-query">···>汇率查询</p>
		  </div>
		  <div class="morechose" id="cp2" >
		  	<p class="cp" id="comment-table">···>常用表格</p>
		  </div>
		  <div class="morechose" id="cp3">
		  	<p class="cp" id="cash-query">···>代收款查询</p>
		  </div>
	</div>
</div>
<div id="right-display">
	<!-- 我要寄快递 -->
	<div id="form-send">
	 	<form class="layui-form"  id="i-want-send-pack" >
		  	<div id="sender">
		  		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
		  		<legend>寄件人信息</legend>
				<div class="layui-form-item">

				    <label class="layui-form-label">姓名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="sender_name" id="s-name-input" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" style="width: 100px;display: inline;">
				   <label style="margin-left: 20px;">手机：</label>
				    <input type="text" name="sender_phone" id="s-phone-input" required  lay-verify="required" placeholder="请输入寄件人手机号" autocomplete="off" class="layui-input" style="width: 200px;display: inline;">
				    </div>
			    </div>
			    <div class="layui-form-item">
				    <label class="layui-form-label">邮箱：</label>
				    <div class="layui-input-block">
				      <input type="text" name="sender_email" id="email-input-number" required  lay-verify="required" placeholder="请输入邮箱账号" autocomplete="off" class="layui-input">
				    </div>
			    </div>
			    <div class="layui-form-item">
			    	<div class="layui-inline">	
					    <label class="layui-form-label">验证码：</label>					   
					      <input type="text" name="sender_iden" id="email-input-iden" style="width: 150px" required  lay-verify="required" placeholder="请输入邮箱验证码" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-inline">		      
			      <div class="layui-input-inline" style="display: inline;">	
			      	<input type="button" style="background-color: #008080;color:white;border:1px white solid;height: 30px;width: 100px;border-radius: 4px;cursor: pointer;" 
			      	id="get-iden-code" value="获取验证码">	       
			      </div>
			    </div>
			    </div>
			    <div class="layui-form-item">
			    <label class="layui-form-label">上门地址：</label>
			    <div class="layui-input-inline">
			      <select name="sender_address_pro" id="f-select-province-id" lay-filter="f-province">			       
			      </select>
			    </div>
			    <div class="layui-input-inline">
			      <select name="sender_address_city" id="f-select-city-id">
			   	<option value="">请选择市</option>
			      </select>
			    </div>  
			   </div>
			    
			    <div class="layui-form-item">
				    <label class="layui-form-label">详细地址：</label>
				    <div class="layui-input-block">
				      <input type="text" name="sender_address_detial" id="sender-right-input-address"     placeholder="县区乡镇街道门牌号" autocomplete="off"  >
				    </div>
			    </div>
		    </div>
			<div id="receive">
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
		  		<legend>收件人信息</legend>
				<div class="layui-form-item">
				    <label class="layui-form-label">姓名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="receive_name" id="r-right-input-name" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
				    </div>
			    </div>
			    <div class="layui-form-item">
				    <label class="layui-form-label">手机：</label>
				    <div class="layui-input-block">
				      <input type="text" name="receive_phone" id="r-right-input-phone" required  lay-verify="required" placeholder="请输入收件人手机号" autocomplete="off" class="layui-input">
				    </div>
			    </div>			    
			    <div class="layui-form-item">
			    	<div class="layui-input-block"></div>
			    </div>
			    <div class="layui-form-item">
			    <label class="layui-form-label">收件地址：</label>
			    <div class="layui-input-inline">
			      <select name="receive_address_pro" id="t-select-province-id" lay-filter="t-province">			       
			      </select>
			    </div>
			    <div class="layui-input-inline"   >
			      <select name="receive_address_city" id="t-select-city-id">
			        <option value="">请选择市</option>
			      </select>
			    </div>  
			   </div>
			    <div class="layui-form-item">
				    <label class="layui-form-label">详细地址：</label>
				    <div class="layui-input-block">
				      <input type="text" name="receive_address_deatil" id="receive-right-input-address" required  lay-verify="required" placeholder="县区乡镇街道门牌号" autocomplete="off"  >
				    </div>
			    </div>
			</div>
			<fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 50px;">
		  		<legend>物品信息</legend>
		    <div class="layui-form-item">
			    <label class="layui-form-label">物品类型：</label>
			    <div class="layui-input-block">
			      <input type="checkbox" id="input-others" name="thingsType" value="文件" title="文件">
			      <input type="checkbox" id="input-others" name="thingsType" value="数码产品" title="数码产品">
			      <input type="checkbox" id="input-others" name="thingsType" value="日用品" title="日用品"  >
			      <input type="checkbox" id="input-others" name="thingsType" value="服饰" title="服饰">
			      <input type="checkbox" id="input-others" name="thingsType" value="药品" title="药品">
			      <input type="checkbox" name="thingsType" id="input-others" value="其他" title="其他">
			    </div>
			</div>
			<div class="layui-form-item">
			<label class="layui-form-label"  >重量：</label>
			    
			    <img src="../images/m1.png" id="scope1" alt="" style="height: 32px;width: 32px">
			    <input type="text" name="things_weight" value="1" id="right-input-weight" autocomplete="off"><label>Kg</label>
			    <img src="../images/add1.png" alt="" id="scope2" style="height: 32px;width: 32px">

		   <div class="layui-form-mid layui-word-aux">(填写物品的大致重量，方便快递员上门取件)</div>
			 </div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">备注：</label>
				<div class="layui-input-block">
					<textarea name="describe" placeholder="我有话对快递小哥说..." class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <input type="button" style="background-color: #008080;color:white;border:1px white solid;height: 40px;width: 100px;border-radius: 4px;cursor: pointer;" 
			      	id="submit-package-button" value="提交表单">
			      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			    </div>
		    </div>
		</form>
	</div>
	<!-- 订单查询 -->
	<div id="find-order"> 
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
			  <legend>快递订单查询</legend>
			</fieldset>
			 
			<div class="layui-tab">
			  <ul class="layui-tab-title">
			    <li class="layui-this">快递单号</li>
			     
			  </ul>
			<div class="layui-tab-content" >
			     
			    <div class="layui-tab-item layui-show">
					<div id="by-phone">
			    		<div class="layui-form-item">
						    <label class="layui-form-label">快递单号：</label>
						    <div class="layui-input-block" >
						      <input type="text" name="title" id="right-input-package"  required  lay-verify="required" placeholder="请输入快递单号" autocomplete="off" class="layui-input">
						    </div>
						    <div class="layui-input-block">
						      <button   style="width: 200px;margin-top: 40px;height: 40px;
						      background-color: #008080;border:0;border-radius: 3px;color: white;
						      cursor: pointer;" id="selectLogistic-btn" >提交查询</button> 
						    </div>
					    </div>   
			    	</div>
			    </div>
			    <div id="showloginfo"></div> 
			</div>
			</div>
		 
	</div>
	<!-- 时效查询 -->
	<div id="time-order">
		<fieldset class="layui-elem-field layui-field-title" >
			  <legend>运单时效查询</legend>
	 	<form class="layui-form"   style="margin-top: 50px;">
	        <div class="layui-form-item">
			    <label class="layui-form-label">始发地：</label>
			    <div class="layui-input-inline">
			      <select name="s_province" id="s-select-province-id" lay-filter="s-province">			       
			      </select>
			    </div>
			    <div class="layui-input-inline" >
			      <select name="s_city" id="s-select-city-id">
			   
			      </select>
			    </div>  
			   </div>
		    <div class="layui-form-item">
			    <label class="layui-form-label">目的地：</label>
			    <div class="layui-input-inline">
			      <select name="e_province" id="e-select-province-id" lay-filter="e-province">			       
			      </select>
			    </div>
			    <div class="layui-input-inline" >
			      <select name="e_city" id="e-select-city-id">
			    
			      </select>
			    </div>  
			   </div>
		    <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">重量：</label>
		      <div class="layui-input-inline" style="width: 50px;" >
		        <input type="text" name="price_min" style="width: 50px;text-align: center;" value="1"  id="right-input-weight-date" autocomplete="off" class="layui-input">
		      </div>
		      <div class="layui-form-mid layui-word-aux">Kg</div>
		       
		    </div>
		  </div>
		  <div class="layui-form-item">
			    <div class="layui-inline">
			      <label class="layui-form-label">寄件日期：</label>
			      <div class="layui-input-inline">
			        <input type="text" class="layui-input" style="color: black;border:1px solid #008080" id="senddate2" placeholder="yyyy-MM-dd">
			      </div>
			    </div>
			</div>
			</form>
			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" id="select-date" style="width: 200px;" lay-submit="" lay-filter="demo1">提交查询</button>
			    </div>
		    </div>
		    <div id="costinfo" style="height: 40px; text-align: center;color: #008080;font-size: 1.4em">
		    	<label id="abouttime"> </label>
		    	<label id="aboutcost" style="margin-left: 50px;"> </label>
		    </div>
		   <h3 style="color: red"> 温馨提示：</h3>

			<h4>始发地或目的地任一方为港澳台地区：</h4>

			<p>1、此价格供参考。更多收费和服务详情，详情请致电大陆客户服务热线 95338。</p>

			<p>2、港澳寄往中国大陆的特殊包裹品项及价格请按此查询。</p>

			<p>3、台湾寄往中国大陆的特殊包裹品项及价格请按此查询。</p>

			<p>4、对于约定由收件人（或第三方）付费（含运费及增值服务费）的快件，在快件签收之前，可提出对费用付款方式变更为寄方付。对于需要更改付款方式的快件，寄件人除需要支付运费外，每票需另外支付更改付款方式服务费。（收费标准）</p>

			<p>5、如收派件地址为香港住宅地址或香港偏远地区，上门收派每票另收港币（住宅附加费$20，香港偏远件$30），附加费可与运费绑定（寄付或到付），收派件时效需加0.5-1个工作日。</p>

			<p>6、台湾部分地区收派时效需加0.5-1工作日，可按此查阅详情。</p>

			<p>7、以上由香港、澳门及台湾寄件至中港澳台之运费包含燃油附加费，请按此了解更多燃油附加费的资料。</p>

			 

			<h4>始发地或目的地任一方为海外国家:</h4>

			<p>1、海外进出口流向价格与时效仅参考。更多收费与服务详情，请致电大陆国际业务客服专线9533883.</p>

			<p>2、海外进出口流向运费豁免燃油附加费，但未包含清关税费、偏远地区附加费、特殊处理费等可能产生的其他费用。</p>

			<p>3、海外进出口流向时效标准天数是指工作日，不包含收件日，不包括周末和节假日。具体派送时效以目的地邮编为准。如遇偏远地区或郊区、航班延误、清关异常等情形，时效会额外增加。</p>
		
	</div>
	<!-- 网点查询 -->
	<div id="allmap">
	</div>
	<!-- 收寄标准查询 -->
	<div id="strand-div">
		<h3 style="color: red">收寄原则：</h3>

		<h4>一、禁止收寄：禁止收取易燃、易爆、易腐蚀、有毒、放射性及违法物品。</h4>

		<h4>二、限制收寄：</h4>

		<p>尺寸和重量：<br>
		①陆运快件：单件计费重量不超过130KG或三边（长、宽、高）分别不超过2.5米、1.5米、1.5米；
		<br>
		②航空快件：单件计费重量不超过80KG或三边（长、宽、高）分别不超过2.5米、1米、0.8米；
		<br>
		特殊说明：顺丰时效产品需按照各时效产品的重量及尺寸要求执行。
		<br>
		航空限制：原商业包装液体、膏状、粉末类食品可通过航空方式发运，如原包装的奶粉、咖啡粉、保健品、矿泉水等；非商业原包装的其它液体、膏状、粉末类物品需提供《鉴定报告书》在发运机场报备通过后方可发运航空。<br>
		化工类：除日用化工品外（如牙膏、洗面奶、洗洁精、化妆品），其它化工类物品需提供安全属性证明材料，确认安全后，将证明材料随货寄出。若需要通过航空发运的，需提供《鉴定报告书》在发运机场报备通过后方可发运航空。<br>
		活体动物类：除大闸蟹、甲鱼、大龙虾外，其它活物体动物禁止收寄。<br>
		电池类：<br>
		①航空收寄标准：<br>

		    检测报告：必须提供符合UN38.3测试和1.2米跌落试验相关检查报告；<br>

		    报备：提供检测报告原件向机场安检报备通过后方可发运；<br>

		    包装：必须为商业包装，每台电子产品最多配2块电池，且机电分离，电池须独立密封包装；机电一体的电子产品须关机。<br>

		②电池禁收：禁止收取摩托车、汽车、电动车（含电动单车、三轮车、平衡车）的蓄电池，禁止收取额定能量大于100WH（瓦/小时）的锂电池或充电宝。<br>

		生鲜、时令水果类：为保证物品运输品质，部分时令蔬果类单票不能超过5KG，大闸蟹单票不能超过10KG，如超出需分票寄递，各地如有特殊要求，以当地收派员核实为准。<br>
		点击查看关于医药类产品寄递的温馨提示</p>

		<h4>三、说明：</h4>

		    <p> 散单客户发至新疆单票快件计费重量不超过1KG。</p>
	</div>
	<!-- 汇率查询 -->
	<div id="exchange">
		<form class="layui-form" id="form-cash" action="">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			  <legend>汇率查询</legend>
			</fieldset>
			<div class="layui-form-item">
			    <label class="layui-form-label">兑换币种·></label>
			    <div class="layui-input-inline">
			      <select name="startcash" id="start-cash">
			        <option value="" >请选择币种</option>
			        <option value="rmb"  >人民币</option>
			        <option value="dollor">美元</option>
			        <option value="eur">欧元</option>
			        <option value="hkd">港币</option>
			        <option value="krw">韩元</option>
			        <option value="jpy">日元</option>
			        <option value="gbp">英镑</option>
			      </select>
			    </div>
			    <div class="layui-form-mid layui-word-aux" style="margin-left: 30px;">···></div>
			    <div class="layui-input-inline">
			      <select name="endcash" id="end-cash">
			        <option value="">请选择币种</option>
			         <option value="rmb"  >人民币</option>
			        <option value="dollor">美元</option>
			        <option value="eur">欧元</option>
			        <option value="hkd">港币</option>
			        <option value="krw">韩元</option>
			        <option value="jpy">日元</option>
			        <option value="gbp">英镑</option>
			      </select>
			    </div>
			    <div class="layui-form-item">
				    <label class="layui-form-label">货币金额：</label>
				    <div class="layui-input-inline">
				      <input type="text" name="username" lay-verify="required" value="1" autocomplete="off" class="layui-input" style="width: 30px;" id="input-number-cash">
				    </div>
			    </div>
			    
			    <label class="layui-form-label"></label>
			    <div id="result-cash">
				    <label class="layui-form-label">查询结果··></label>
				    <label class="layui-form-label" id="cash-result-number" ></label>
			    </div>
	  		</div>
  		</form>		
  			<div style="width: 216px; margin-left: 200px;">			     
			   <button class="layui-btn layui-btn-fluid" id="exchange-cash">点击查询</button>
			</div> 		 
	</div>
	<!-- 常用表格 -->
	<div id="com-table">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	  		<legend>相关表格-下载</legend>
		</fieldset>
		<table class="layui-table" lay-even="" lay-skin="row">
		  <colgroup>
		    <col width="150">
		    <col>
		    <col width="150">     
		  </colgroup>
		  <thead>
		    <tr>
		      <th>序号</th>
		      <th>表格目录内容</th>
		      <th>操作</th>  
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td>正式报关单证（合同、商业发票、报关委托书、装箱单）</td>
		      <td><a href="../downloadfiles/Declaration1.zip"  download="Declaration1">下载</a></td>
		     
		    </tr>
		    <tr>
		      <td>2</td>
		      <td>委托收件表格（国内取件）-中文版</td>
		      <td><a href="../downloadfiles/Declaration2-.doc" download="Declaration2">下载</a></td>		    
		    </tr>
		    <tr>
		      <td>3</td>
		      <td>委托收件表格（国内取件）-英文版</td>
		      <td><a href="../downloadfiles/Declaration3-English-.doc" download="Declaration3">下载</a></td>
		    </tr>
		    <tr>
		      <td>4</td>
		      <td> 委托表格（香港取件）-英文版</td>
		      <td><a href="../downloadfiles/Pickup_HK_en.doc" download="Pickup_HK_en">下载</a></td>
		    </tr>
		    <tr>
		      <td>5</td>
		      <td> 委托表格（香港取件）</td>
		      <td><a href="../downloadfiles/Pickup_HK_sc.doc" download="Pickup_HK_sc">下载</a></td>
		    </tr>
		    <tr>
		      <td>6</td>
		      <td>委托表格（澳门取件）-英文版 </td>
		      <td><a href="../downloadfiles/Pickup_MC_en.doc" download="Pickup_MC_en">下载</a></td>
		    </tr>
		    <tr>
		      <td>7</td>
		      <td>委托表格（澳门取件） </td>
		      <td><a href="../downloadfiles/Pickup_MC_sc.doc" download="Pickup_MC_sc">下载</a></td>
		    </tr>
		    <tr>
		      <td>8</td>
		      <td>国际件普通形式发票模板 </td>
		      <td><a href="../downloadfiles/11092.docx" download="International">下载</a></td>
		    </tr>
		    <tr>
		      <td>9</td>
		      <td> 欧洲件专用形式发票模板</td>
		      <td><a href="../downloadfiles/11091.docx" download="Europe">下载</a></td>
		    </tr>
		  </tbody>
		</table>
		<h3>尊敬的客户：</h3>

		<p>在您下载表格并填写相关内容后，请回传至相应服务区域传真号码查询。</p>
	</div>
	<!-- 代收款查询 -->
	<div id="cashquery">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		  <legend>代收款-服务</legend>
		</fieldset>
		<div class="layui-form">
		  <table class="layui-table" >
		    <colgroup>
		      <col>
		    </colgroup>
		    <thead>
		      <tr>
		        <th>代收货款电子账单</th> 
		      </tr> 
		    </thead>
		    <tbody>
		      <tr>
		        <td>
		        	<h3 style="color:#008080">服务介绍</h3>
					<p>作为一家具有高度社会责任感的物流综合服务公司，顺丰倡导环保生活，绿色地球，并致力于为客户提供更便捷的电子账单服务，以减少纸质账单的使用。</p>

					<p>•电子对账单是您纸质账单的电子版本。开通电子账单服务后，次月为您生成本月的电子账单，每月2号起发送账单至您的邮箱。</p>

					<p>•客户登录会员平台 i.sf-express.com，点击“注册—企业客户注册“，完成注册登录后即可查看账单、对账付款、在线反馈差异、查看运单图片、下载账单等。</p>

					<p>(注册过程提示用户名已存在，请直接使用已有账户密码登录；如忘记密码，可在登录过程通过“忘记密码“功能找回密码)</p>

					<h3 style="color:#008080">适用对象</h3>

					<h3>中国大陆月结客户</h3>

					<h3 style="color:red">温馨提示</h3>
					<p>1.如需申请电子账单，请下载电子账单开通表。填写公司名称（全称）、月结账号、对账联系人、对账电话、账单接收邮箱交由我司人员。我司7个工作日为为您开通电子账单。</p>

					<p>2.为了让您享受更优质的服务，如您公司名称（全称）、电话、地址或寄件人/对账人联系方式等信息变更，敬请及时致电我司全国服务热线 95338 或登录官网更新资料。</p>
				</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</div> 

</div>
<hr class="layui-bg-blue">
 	<div id="rights">
		<h3>
			©All Rights Received
		</h3>
		<h4>
			软件工程1402 </br>
			霍胜龙
		</h4>
	</div>
</body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script> 
<script src="../js/indexjs.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/localtion.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/logistics.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var index=window.location.href.split("=")[1];
		if (index=="query_pack") {//快递查询
			$('#form-send').show();
		}
		if (index=="query_books") {//订单查询
 			$('#find-order').show();
		}
		if (index=="query_neets") {//快递网点查询
			$('#allmap').show();
		}
		if (index=="query_time") {//时效查询
			$('#time-order').show();
		}
		if (index=="query_strand") {//收寄标准
			$('#strand-div').show();
		}

	});
</script>
</html>


 
 