 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Document</title>
     <link rel="stylesheet" href="../layui/css/layui.css">
  
    <script src="../js/jquery-3.3.1.min.js"></script>
 </head>
 <body>
     <div class="layui-form-item">
          <label class="layui-form-label">所在省份</label>
           <div class="layui-input-inline">
            <select class="select" name="drpprovince" id="drpprovince" lay-filter="drpprovince"></select>
            </div>
            <div class="layui-input-inline">
               <select id="drpcity" name="drpcity" class="select" lay-filter="drpcity"></select>
              </div>
              <div class="layui-input-inline">
                  <select id="drparea" name="drparea" class="select" lay-filter="drparea"></select>
               </div>
           </div>
 </body>
 </html>
  

<script src="../layui/layui.js"></script>
<script>
    layui.use(['form'], function () {
        var $ = layui.jquery,
         form = layui.form
        , layer = layui.layer;
        //
        // 城市联动
        var proid=0;
        $.getJSON("/UserCenter/GetProvinces", function (data) {
            $.each(data.dataList, function (i, item) {
                if (i == 0)
                {
                    proid = item.Id
                }
                $('#drpprovince').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
            })
            $.getJSON('/UserCenter/GetCitys?pid=' + proid, function (data) {
                $.each(data.dataList, function (i, item) {
                    if (i == 0) {
                        $.getJSON('/UserCenter/GetAreas?cid=' + item.Id, function (data) {
                            $.each(data.dataList, function (i, item) {
                                $('#drparea').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
                            })
                            form.render('select');
                        });
                    }
                    $('#drpcity').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
                })
                form.render('select');
            });
        });
        form.on('select(drpprovince)', function (data) {
            var proid = data.value;
            $('#drpcity').html("");
            $('#drparea').html("");
            $.getJSON('/UserCenter/GetCitys?pid=' + proid, function (data) {
                $.each(data.dataList, function (i, item) {
                    if (i == 0) {
                        $.getJSON('/UserCenter/GetAreas?cid=' + item.Id, function (data) {
                            $.each(data.dataList, function (i, item) {
                                $('#drparea').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
                            })
                            form.render('select');
                        });
                    }
                    $('#drpcity').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
                })
                form.render('select');
            });
        });
        form.on('select(drpcity)', function (data) {
            var cityid = data.value;
            $('#drparea').html("");
            $.getJSON('/UserCenter/GetAreas?cid=' + cityid, function (data) {
                $.each(data.dataList, function (i, item) {
                    $('#drparea').append('<option  value=' + item.Id + '>' + item.Names + "</option>");
                })
                form.render('select');
            });
        });
    });
</script>