<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>管理界面</title>
  <link rel="stylesheet" href="../../layui/css/layui.css"> 
  <link rel="stylesheet" href="../../mycss/console.css">
  <script src="../../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8" ></script>
  <script src="../../js/console.js" type="text/javascript" charset="utf-8" ></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZWsHXhetH5SOnKEttV6ynmiR4MSKAVBQ"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script> 
  <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" /> 
 
</head>
<body>
<div class="layui-layout layui-layout-admin"  >
  <div class="layui-logo"><a href=""><img src="../../images/logo.png" alt="网站logo" title="刷新" style="height: 56px;width: 56px"></a>pack.com</div>
  <div class="layui-header" id="console-header">
    
    <h2 id="console-title">Welcome to pack.com</h2>    
    <ul class="layui-nav layui-layout-right" style="margin-right: 30px;">
       <li class="layui-nav-item"  >
        <a href="javascript:;" style="color:#008080">
          <img src="../../images/user.png" id="userinfoimg" class="layui-nav-img">欢迎
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;" id="username" style="color:#008080">
          
        </a> 
        <dl class="layui-nav-child">
          <dd><a href="javascript:;" id="baseInfo">基本资料</a></dd>
          <dd><a href="javascript:;">安全设置</a></dd>
        </dl>                                                                                                                                           
      </li>
      <li class="layui-nav-item"><a id="loginout" href="javascript:;" style="color:#008080">
        <img src="../../images/exit.png" alt="" style="height: 24px;width: 24px; ">
      退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black" >
    <div class="layui-side-scroll" id="said-layui-img">
 
      <ul class="layui-nav layui-nav-tree" style="text-align: center;">
        <li class="layui-nav-item layui-nav-itemed" style="background-color: white"><a href="javascript:;"><div id="Date"> </div></a></li>
        <li class="layui-nav-item ">
          <a id="console-pack" href="javascript:;"><img src="../../images/box.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;快递管理</a>
        </li>
        <li class="layui-nav-item">
          <a id="console-logistics" href="javascript:;"><img src="../../images/process.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;物流管理</a>
        </li>
        <li class="layui-nav-item">
          <a id="console-query" href="javascript:;"><img src="../../images/original-image.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;查询服务</a>
        </li>
        
        <li class="layui-nav-item">
          <a id="console-infomation" href="javascript:;"><img src="../../images/bussiness-card.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;信息审核</a>
        </li>
        <li class="layui-nav-item">
          <a id="console-employee" href="javascript:;"><img src="../../images/personal-center.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;员工信息</a>
        </li>
      </ul>
    </div>
  </div>
   <div class="layui-body">
    <div id="pack-div">
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
          <li class="layui-this" id="consoleallpack">所有快递</li>
          <li id="console-wait-pack">待揽快递<span class="layui-badge layui-bg-green" id="need-receive"></span></li>
          <li id="console-deliver-pack">等待派发<span class="layui-badge "  id="need-delive"></span></li>
           <li id="console-waitsign-pack">等待签收<span class="layui-badge layui-bg-blue"  id="need-sign"></span></li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
          <div class="layui-tab-item layui-show">        
            <table class="layui-table" id="idTest" lay-filter="demo">
            </table>
          </div>
          <div class="layui-tab-item">
          <table class="layui-table" id="wait-receive" lay-filter="waitpack"> 
          </table>
          </div>
          <div class="layui-tab-item">
            <table class="layui-table" id="wait-delive" lay-filter="dispatch">
            </table>
          </div>
          <div class="layui-tab-item">
            <table class="layui-table" id="wait-sign" lay-filter="sign">
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="query-div">   
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
          <li class="layui-this">今日工作</li>
          <li>某日工作</li>
          <li>单号查询</li>
          <li>手机查询</li> 
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
          <div class="layui-tab-item layui-show">
            <table class="layui-table" id="today-work" lay-filter="demo"> 
            </table>
          </div>
          <div class="layui-tab-item">
            <table class="layui-table" id="today-work" lay-filter="demo"> 
            </table>
          </div>
          <div class="layui-tab-item">内容2</div>
          <div class="layui-tab-item">内容3</div> 
        </div>
      </div>   
    </div>
 
    <div id="logistics-div">     <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li class="layui-this">模拟物流</li>
    <li>更正物流</li>
 
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item"> 
      <div id="logistictop">
        <div class="layui-form-item">
          <label class="layui-form-label">快递单号：</label>
          <div class="layui-input-inline">
            <input type="text" id="pack-number-console" class="layui-input  ">
          </div>
          <label class="layui-form-label">发件地址：</label>
          <div class="layui-input-inline">
            <input type="text" id="pack-send-console"  class="layui-input ">
          </div>
          <label class="layui-form-label">收件地址：</label>
          <div class="layui-input-inline">
            <input type="text" id="pack-receive-console" class="layui-input  ">
          </div>
          <button class="layui-btn layui-bg-orange" id="pack-get-console" >显示揽件</button>
           <button class="layui-btn" id="pack-submit-console" >立即提交</button>
            <span class="layui-badge "  id="need-delive-count"></span>
        </div>
      </div>
      <div id="logistic-packInfo">
          
      </div>
      <div id="allmap"></div>
    </div>
    <div class="layui-tab-item">内容3</div> 
  </div>
</div> 
    </div>
    <div id="infomation-div"><div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li class="layui-this">所有申请</li>
    <li>审核申请</li>
    <li>管理申请</li> 
    <li>查找申请</li>
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item layui-show">内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）</div>
    <div class="layui-tab-item">内容2</div>
    <div class="layui-tab-item">内容3</div> 
    <div class="layui-tab-item">内容4</div> 
  </div>
</div> 
    </div>
    <div id="employee-div">      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li class="layui-this">所有员工</li>
    <li>添加员工</li>
    <li>更新信息</li>
    <li>解雇员工</li>
    <li>查找信息</li>
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item layui-show">内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）</div>
    <div class="layui-tab-item">内容2</div>
    <div class="layui-tab-item">内容3</div>
    <div class="layui-tab-item">内容4</div>
    <div class="layui-tab-item">内容5</div>
  </div>
</div> 
    </div>
  </div>
 
  <div class="layui-footer" style="text-align: center;">     
    Copyright©   All Rights Received 2018 霍胜龙 软件工程1402 
  </div>
</div> 
<script src="../..//layui/layui.js"></script>
<script type="text/html" class="takePack">
  <a class="layui-btn layui-btn-xs" id="lanjianbtn" lay-event="del">揽件</a> 
</script>
<script type="text/html" class="dispatch"> 
  <a class="layui-btn layui-btn-danger layui-btn-xs" id="paijianbtn" lay-event="del">派件</a>
</script>
<script type="text/html" class="waitsignpack"> 
  <a class="layui-btn   layui-btn-xs layui-bg-blue" id="qianshoubtn" lay-event="del">签收</a>
</script>
</body>

<div id="myinfo">
  <div id="infoimage">  
    <img src="E:\PMS\WorkSpace\files\mmexport1511067553342.jpg" id="imgbackage"  >
      <form enctype="multipart/form-data" id="uploadForm"  >  
        <input id="file" type="file"  name="fileupload"/> 
      </form>    
    </div> 
   <div id="linediv">
    <label class="layui-form-label">用户名：</label> 
    <label class="layui-form-label" id="username-info" style="margin-left:-45px;color:#008080"></label>
    </div>
  <div id="linediv"  >  
     <label class="layui-form-label" style="margin-left: 0">手机号：</label> 
     <div class="layui-input-inline">
      <input type="text"  lay-verify="required" placeholder="请输入" id="phone-info" class="layui-input" style="width: 170px;">
    </div>
   </div>
  <div id="linediv"> 
    <label class="layui-form-label">邮箱：</label>
    <div class="layui-input-inline">
      <input type="text"  lay-verify="required" placeholder="请输入" id="email-info" class="layui-input" style="width: 170px;">
    </div>
  </div>
  <div id="linediv"> 
    <div class="layui-input-inline"><label class="layui-form-label">家庭住址：</label>
      <input type="text"  placeholder="请手动输入" id="address-info"  class="layui-input" style="width: 270px;">
    </div>
  </div>
  <div id="linediv" style="text-align: center;">
    <div class="layui-form-item">
    <button  class="layui-btn"   id="submit_btn_info">提交信息</button>
    </div>
  </div>
  
</div>
</html>
 